@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: black;
    background: white;
  }
}

.shadowAnimation {
  box-shadow: 0px 0px 7px gray;
}

.service_box_shadow{
  box-shadow: 0px 0px 9px 1px gainsboro;
}

.bg-img-banner {
  background: url('../public/images/side-img.png');
  width: 100vw;
  height: 88vh;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
  .bg-img-banner {
    height: 60vh;
  }
}

.word-spacing{
  word-spacing: -1px;
}


@media only screen and (max-width: 767px) {
  .side-img{
    background: url("../public/images/5.png") !important;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.side-img{
  background: url("../public/images/side-img.png");
  display: block;
  width: 100%;
  height: 100%;
}

.Home_container__bCOhY{
  padding: 0% !important;
}


::-webkit-scrollbar {
  display: none;
}

/* ========================= hamburger =========================== */
:root {
  --ham-width: 30px;
  --ham-bgc: #f05d58;
}

.ham {
  width: var(--ham-width);
  height: 3px;
  top: 30px;
  right: 10px;
  position: absolute;
  background-color: var(--ham-bgc);
  transition: all 200ms ease-in-out;
  z-index: 11;
}

.ham::before {
  content: "";
  top: 10px;
  right: 0;
  width: var(--ham-width);
  height: 3px;
  position: absolute;
  background-color: var(--ham-bgc);
  transition: all 200ms ease-in-out;
}

.ham::after {
  content: "";
  top: 20px;
  right: 0;
  width: var(--ham-width);
  height: 3px;
  position: absolute;
  background-color: var(--ham-bgc);
  transition: all 200ms ease-in-out;
}

/* ham-cover */
.hamBack {
  width: 50px;
  height: 50px;
  z-index: 16;
  top: 20px;
  left: 10px;
  position: fixed;
  background-color: transparent;
}

/* ham-active */

.ham-active {
  width: var(--ham-width);
  height: 3px;
  margin: 10px 0 0 2px;
  top: 30;
  right: 10;
  position: absolute;
  background-color: var(--ham-bgc);
  transform: rotate(45deg);
  transition: all 200ms ease-in-out;
}

.ham-active::before {
  content: "";
  width: var(--ham-width);
  top: 10px;
  right: 0;
  height: 3px;
  position: absolute;
  background-color: var(--ham-bgc);
  transform: rotate(90deg);
  transition: all 200ms ease-in-out;
  display: none;
}

.ham-active::after {
  content: "";
  width: var(--ham-width);
  height: 3px;
  top: 1px;
  right: 0;
  position: absolute;
  background-color: var(--ham-bgc);
  transform: rotate(90deg);
  transition: all 200ms ease-in-out;
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  .ham {
    width: var(--ham-width);
    height: 3px;
    top: 25px;
    right: 50px;
    position: absolute;
    background-color: var(--ham-bgc);
    transition: all 200ms ease-in-out;
    z-index: 11;
  }
}

/* ========================= hamburger end =========================== */


/* =========================== Image component scroll start ========================*/

.scroll-up {
  height: 500px;
  overflow: hidden;
  position: relative;
}

.scroll-up .inner {
  height: 500px;
  animation: scroll-up 15s linear infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(-190%);
  }
}

/* =========================== Image component scroll end ========================*/




@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.item-1,
.item-2,
.item-3 {
  position: absolute;
  display: block;
  /* top: 2em; */
  overflow: hidden;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  margin-top: 18px;
}

.item-1 {
  animation-name: anim-1;
  padding: 0px;
}

.item-2 {
  animation-name: anim-2;
  padding: 0px;
}

.item-3 {
  animation-name: anim-3;
  padding: 0px;
}

@keyframes anim-1 {

  0%,
  8.3% {
    top: -100%;
    opacity: 0;
  }

  8.3%,
  25% {
    top: 18%;
    opacity: 1;
  }

  33.33%,
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes anim-2 {

  0%,
  33.33% {
    top: -100%;
    opacity: 0;
  }

  41.63%,
  58.29% {
    top: 18%;
    opacity: 1;
  }

  66.66%,
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes anim-3 {

  0%,
  66.66% {
    top: -100%;
    opacity: 0;
  }

  74.96%,
  91.62% {
    top: 18%;
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

/* ************** text slide start *************** */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 0px 7px;
}

.active, .dot:hover {
  background-color: #717171;
}

.prev{
position: absolute;
top: 40%;
left: 50px;
}

.next{
  position: absolute;
  top: 40%;
  right: 50px !important;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {
    opacity: .4;
  } 
  to {
    opacity: 1;
  }
}

/* .carousel .carousel_first_div  {
  animation: scroll-left 15s linear infinite;
  transition: 0.6s ease;
} */

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
.carousel .carousel_second_div  {
  animation: scroll-left 15s linear infinite;
  /* transition: 0.6s ease; */
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
.carousel .carousel_third_div  {
  animation: scroll-left 15s linear infinite;
  /* transition: 0.6s ease; */
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}